*{
    margin: 0;
    padding: 0;
}
#titre {
    font-family: Pacifico;
    margin-top : 0px;
    text-align: center;
   
}

.logo{
    width: 80px;
	height: 65px;
    float: left;
    left: 10px;
    top : 20px;
}
.git-hub{
    width: 100px;
	height: 65px;
    float: right;
    margin-top : 0px;
    margin-right : 10px;
}


.page-header {
        border-bottom: 1px outset #000;
        height: 70px;
        overflow-y: hidden;
}

#btn1{
    padding-left : 130px;
    padding-right : 130px;
}
#btn2{
    padding-left : 120px;
    padding-right : 120px;
}
#btn3{
    padding-left : 135px;
    padding-right : 135px;
}

body{
        background-color : #f8f9fa!important;
    }
    .form1{
        float: right;
        margin-top:300px ;
    }
    .form2{
        float: left;
        margin-top:300px ;
    }