#titre {
    font-family: Pacifico;
    margin-top : 0px;
    text-align: center;
 }

.logo{
    width: 80px;
	height: 65px;
    float: left;
    left: 10px;
    top : 20px;
}
.git-hub{
    width: 100px;
	height: 65px;
    float: right;
    margin-top : 0px;
    margin-right : 10px;
}


.page-header {
        border-bottom: 1px outset #000;
        height: 70px;
        overflow-y: hidden;
}

h2{
	font-family:Pacifico;
	text-align: center;
	}

.card1{ float: left;
    padding: 15px;;
    margin-top : 100px;
    margin-left : 10px;
    height: 100px;
}
.card2{position: relative;
    left:300px !important;
    bottom: 420px;
    
}

.card3{ 
    position: relative;
    left: 400px !important;
    bottom: 440px;
}
 